/*-----HTML WIDE-----*/
body {
	overflow-y: scroll;
}

html{
	overflow-y: hidden;
}
/*-----HTML WIDE-----*/


/*---TITLE---*/
#coverPhoto {
	height:100%;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	background-position:center;
	overflow: auto;
}

.blogEntryPhoto {
	height: 100%;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	border-radius: 15px;
}

#coverWrapper {
	height: 70%;
	width: 100%;
	position: relative;
}

.blogEntryWrapper {
	height: 35%;
	width: 80%;
	margin: 2% 10% 2% 10%;
	position: relative;
	max-height:200px;
}
#coverGradient {
	position: absolute;
    width: 100%;
    height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* Standard syntax (must be last) */
}

.blogEntryGradient {
	position: absolute;
	width: 100%;
	height:100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top,  rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)); /* Standard syntax (must be last) */
	
	border-radius:15px;
}

#coverTitle {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
	padding-bottom:2%;
}

.blogEntryTitle {
	position:absolute;
	bottom: 0;
	left: 0;
	width:68%;
	margin-left: 2%;
}

.blogEntryTime {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline;
	width: 28%;
	text-align: right;
	margin-right: 2%;
}
/*---TITLE---*/

/*---BODY---*/
.darkTransparentPanel {
 	position: absolute;
 	display: table;
 	background: rgba(25,25,25,0.8);
 	width: 90%;
 	height: 30%;
 	padding: 5% 5% 5% 5%;
 	top: 30%;
 	z-index: 50;
 }

.largeStaticBackground {
	height:60%;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	overflow: auto;
}

.smallStaticBackground {
	height:40%;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	overflow: auto;
}

.blogContentLight {
	display: table;
	background: rgba(200,200,200,0.5);
	width: 90%;
	padding: 5% 5% 5% 5%;
	max-height: 100000px;
}

.youtubeWrapper {
	position: relative;
	height: 60%;
	/*max-height: 400px;*/
	/*min-height: 200px;*/
	background: rgb(0,0,0);
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	overflow: auto;
}

.youtubeWrapper iframe {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	width: 50%;
	max-width: 640px;
	min-width: 320px;
	height: 100%;
	overflow: hidden;
}

.youtubeBackgroundGradient {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200,200,200,0.6);
}

.youtubeText {
	position: absolute;
	width: auto;
	bottom:10%;
	left:5%;
	max-width: 30%;
}

.youtubeTitle {
	margin-bottom: 3%;
	padding: 2%;
	background: rgba(25,25,25,0.90);
	border-radius: 3%;
	z-index: 1;
}

.youtubeAuthor {
	margin-bottom: 3%;
	padding: 2%;
	background: rgba(25,25,25,0.90);
	border-radius: 3%;
	display: inline-block;
	z-index: 1;
}

.centeredWrapper {
	position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

.centeredWrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.youtubePlay {
	display: inline-block;
	vertical-align: middle;
}

#bg {
	background-color:rgb(205,205,205);
}
