/*-------CONTACT----*/
.verticalCenter {
	position: absolute;
	display: table;
	background: #EBEBEB;
	width: 90%;
	height: 30%;
	padding: 5% 5% 5% 5%;
	top: 30%;
	z-index: 50;
}

.contact {
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
	overflow: hidden;
	height: 100%;
}

.graydient {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(150,150,150,0.5);
	z-index: 3;
	content: "";
	height: 100%;
	width: 100%;
}

.bgPhoto {
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	background-position: 0 70%;
}

.socialIcons {
	margin-top: 1%;
	width: 30%;
}

.socialIcons img{
	width:100%;
	border-radius: 30%;
	max-width: 1.5em;
	min-width: 1em;
}
/*-------CONTACT----*/