/*-----HTML WIDE-----*/
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	height: 100%;
	-webkit-text-size-adjust:none;
}

html{
	font-size:100%;
	height: 100%;
}

ul {
	margin: 0;
	text-align: left;
}

li {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

a {
	text-decoration: none;
	display: block;
}
/*-----HTML WIDE-----*/

/*-----TEXT MODIFIERS-----*/
.light {
	color: rgb(225,225,225);
}

.dark {
	color: rgb(60,60,60);
}

.gray {
	color: rgb(150,150,150);
}

.centerText {
	width: 75%;
	margin: 0 auto 0 auto;
	padding: 10% 0 10% 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: normal;
}

.leftText {
	width: 75%;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	left: 0;
	right: 0;
	text-align: left;
	line-height: normal;
}

.button {
	padding: 15px;
	margin-top: 15px;
	margin-bottom:15px;
	background-color: #17810C;
	color: #FFF;
}
/*-----TEXT MODIFIERS-----*/

/*-----IMAGE PANELS-------*/
.largeStaticBackground {
	height: 600px;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	overflow: hidden;
}

.dynamicStaticBackground {
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	overflow: hidden;
}

.blackGradient {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	max-height: 1000000px;
}

.whitePanel {
	width: 100%;
	padding: 5% 0 5% 0;
	background: #EBEBEB;
	overflow: auto;
	max-height: 1000000px;
}

.darkPanel {
	width: 100%;
	padding: 5% 10% 5% 0;
	background: #1F1F1F;
	overflow: auto;
	max-height: 1000000px;
}

.grayPanel {
	width: 100%;
	padding: 5% 0 5% 0;
	background: #333;
	overflow: auto;
}
/*-----IMAGE PANELS-------*/

.profile {
	padding-left: 15%;
	width:30%;
	float: left;
	margin-right: 5%;
	max-width: 200px;
	min-width: 100px;
	text-align: center;
}

.profile img {
	border-radius: 50%;
	width: 100%;
}

.socialIcons {
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
}

.socialIcons a {
	display: inline-block;
}

.socialIcons img {
	border-radius: 30%;
	width: 4em;
}
