/*-----HTML WIDE-----*/
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	height: 100%
}

html{
	font-size:100%;
	height: 100%;
}

ul {
	text-align: left;
}

li {
	margin-top:0.6em;
}

a {
	text-decoration: none;
	display: block;
}
/*-----HTML WIDE-----*/

/*-----TEXT MODIFIERS-----*/
.right {
	position: absolute;
	margin-right: 5%;
	right:0;
	top:0;
	text-align: left;
	width:60%;
}

.middle {
	position: absolute;
	margin-right: 25%;
	margin-left: 25%;
	right:0;
	top:0;
	text-align: center;
	vertical-align: middle;
	width: 50%;
	height: 100%;
}

.light {
	color: #CDCDCD;
}

.dark {
	color: #555;
}
/*-----TEXT MODIFIERS-----*/

/*-----MENU BAR-------*/
#menuBar {
	display: table;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	min-height: 50px;
}

.menuItem {
	display: table-cell;
	border-left: 1px solid #CCC;
	padding: 1% 1% 1% 1%;
	text-align: center;
	background: rgba(100,100,100,0.6);
	min-width: 1em;
	max-width: 2em;
}

.selectedMenuItem {
	display: table-cell;
	border-left: 1px solid #CCC;
	padding: 1% 1% 1% 1%;
	text-align: center;
	background: rgba(0,0,0,0.7);
	cursor: default;
	min-width: 1em;
	max-width: 2em;
}
/*-----MENU BAR-------*/

/*-----HEADER-----*/
#header {
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 8%;
	display:inline-block;
}

.profile {
	width:30%;
	float: left;
	margin-right: 5%;
	max-width: 6em;
	min-width: 3em;
}

.profile img {
	border-radius: 50%;
	width: 100%;
}



.profileText {
	float:left;
	width:65%;
}

.socialIcons {
	margin-top: 1%;
	width: 50%;
}

.socialIcons img{
	width:100%;
	border-radius: 30%;
	max-width: 1.5em;
	min-width: 1em;
}
/*-----HEADER-----*/

/*-----FOOTER-----*/
#footer {
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 8%;
	margin-bottom: 8%;
	display:inline-block;
}

.footerSocial {
	width:50%;
	float:left;
}
/*-----FOOTER-----*/

/*-----BODY PARTS-----*/
.part {
	position: relative;
	overflow: hidden;
	display: block;
	background: #EBEBEB;
}

.pane {
	padding-top: 45%; /*Needs to be less than the aspect ratio of the bg pictures*/
	text-decoration: none;
	background: #000; /*Default to black background if picture is not loaded*/
}

.paneHeader {
	margin-bottom: 5%
}

.pane img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto!important;
}

.gradient {
	content:" ";
	top: 0;
	right:0;
    width: 100%;
    height: 100%;
    position: absolute;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.0), rgba(0,0,0,0.6), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(0,0,0,0.0), rgba(0,0,0,0.6), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.0), rgba(0,0,0,0.6), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left, rgba(0,0,0,0.0), rgba(0,0,0,0.6), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.0)); /* Standard syntax (must be last) */
}

.paneText {
    position: absolute;
    top: 45%;
    left: 40%;
    height: 50%;
    width: 60%;
    margin: -15% 0 0 -20%;
}
/*-----BODY PARTS-----*/

/*--------MISC--------*/
.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #888;
	overflow-y: scroll;
}

.darkGradient {
	position: absolute;
	top: 0;
	left:0;
    width: 100%;
    height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7)); /* Standard syntax (must be last) */
	z-index: -1;
}

.paddedText {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: auto;
	margin: 10% 5% 0 5%;
}

#mountainScene {
	width:100%;
	height: 100%;
	overflow: hidden;
}

#mountainLayers {
	margin-bottom: -3%;
}

#mountainLayers img{
	width: 120%;
	margin-left: -10%;
	height: auto;
	max-height: 100%;
}

#sceneContainer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto;
	width: 100%;
	max-height: 50%;
}
/*--------MISC--------*/

/*-------HOMEPAGE----*/
.largeStaticBackground {
	height:60%;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	overflow: auto;
}

.smallStaticBackground {
	height:40%;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	overflow: auto;
}

.whitePanel {
	width: 80%;
	padding: 5% 10% 5% 10%;
	background: #EBEBEB;
	overflow: auto;
}

.homeProfileText {
	float:left;
	width:70%;
}

.homeProfile {
	float:left;
	display:inline-block;
	width:25%;
	height:auto;
	padding-left: 5%;
}

.homeProfile img {
	border:0.4em solid black;
	width: 100%;
}
/*-------HOMEPAGE----*/